*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

.container {
    width: 1080px;
    margin: auto;
}

#header-top{
    background-color: #f5f8fa;
    height: 90px;
    border-bottom: 1px solid lightgrey;
    width: 100vw;
    position: fixed;
}

#globe{
    padding-top: 31px;
    padding-bottom: 31px;
    float: left;


}
#globe img{
    width: 21px;
}

#globe img:hover {
    cursor: pointer;
}

#left-header-top {
    line-height: 90px;
    float: left;
    font-weight:400;
    margin-left: 20px;
}

#left-header-top :first-child{
    margin-right: 25px;
    border-right: 2px solid lightgrey;
    padding-right: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#left-header-top a {
    text-decoration: none;
    color: #33475b;
}

.fas {
    color: #6fcad8;
    font-size: 18px;
}

.fas:hover{
    cursor: pointer;
}

#right-header-top{
    float: right;
    line-height: 90px;
}


.login {
    text-decoration: none;
    color: #ff7a59;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #ff7a59;
    font-size: 14px;
    padding: 11px 30px 11px;
    margin-left: 30px;
    margin-right: 10px;
}

.getit {
    text-decoration: none;
    color: white;
    background-color: #ff7a59;
    border-radius: 3px;
    font-size: 14px;
    padding: 11px 16px 11px;

}

#header-bottom {
    padding-top: 90px;
    background-color: white;
    width: 100vw;
}

#logo {
    float: left;
    line-height: 90px;
    padding-top: 7px;
}

#logo:hover {
    cursor: pointer;

}

#right-header-bottom li {
    display: inline-block;
    float: right;
    margin-right: 50px;
}

#right-header-bottom a{
    text-decoration: none;
    color: #33475b;
    line-height: 90px;
    font-weight: bolder;
    font-size: 18px;

}

.clearfix::after{
    content: "";
  clear: both;
  display: table;
}

#header-main {
    background-color: #fff4ef;
    /* height: 800px; */
    background-image: url(img/sfondo.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
}

#mainbox {
    width: 41%;
    padding-top: 10%;
}

#mainbox h1 {
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 30px;
    color: #33475b;
}

#mainbox :nth-child(2) {
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 45px;
    color:#33475b;
}

#btn-box .getit {
    text-decoration: none;
    color: white;
    background-color: #ff7a59;
    border-radius: 3px;
    font-size: 18px;
    padding: 25px 30px 25px;
}

#btn-box{
    width: 210px;
}
#btn-box :nth-child(2){
    font-size: 13px;
    font-weight: bolder;
    color:#33475b;
    padding-top: 50px;
    padding-bottom: 230px;
}

#message {
    width: 30%;
    float: left;
}

#crm {
    width: 65%;
    float: right;
}
#top-row::after{
  content: "";
  clear: both;
  display: table;

}

.hub {
    width: 30%;
    float:left;
}
